<!-- Toolbar -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <lib-basic-linechart
      [knobCurrentTime] = true
      [data]=data2
      [range]=range
      (rangeChange)="updateRange($event)"
      [currentTime]=currentTime
      (currentTimeChange)="updateCurrentTime($event)"
    ></lib-basic-linechart>

    <lib-basic-linechart
      [data]=data6
      [range]=range
      (rangeChange)="updateRange($event)"
      [currentTime]=currentTime
      (currentTimeChange)="updateCurrentTime($event)"
    ></lib-basic-linechart>

    <lib-basic-linechart
      [scrollBar]=true
      [data]=dataset
      [range]=range
      (rangeChange)="updateRange($event)"
      [currentTime]=currentTime
      (currentTimeChange)="updateCurrentTime($event)"
    ></lib-basic-linechart>

    <button (click)="change()">Change for next graph</button><span> Dataset number <span id="datasetNumber">2</span></span>

  </body>
</html>
