<!-- Toolbar -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <!-- ######################################################################################################################################################### -->
  <table id="linechart_table">
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <tr *ngFor="let linechart of linecharts; let i = index" >

      <div [ngSwitch]="linechart.dataStyle">

        <th>
          <button (click)="changeLinechart(i, BACK, linechart.dataStyle)">Graph before</button>
          <button (click)="changeLinechart(i, NEXT, linechart.dataStyle)">Next graph</button>
          <button (click)="showColorEdit(i)" id="btn-switch_{{i}}">Edit color Scheme</button>
          <button (click)="showPeakEdit(i)" id="btn-show-peak_{{i}}">Edit boolean peak</button>
          <button (click)="changeTypeOfLinechart(i, linechart.dataStyle)">Change type of Linechart</button>
          <button (click)="deleteLinechart(i)">Delete Linechart</button>


        </th>

        <div *ngSwitchCase="'number'">
          <th>
            <span id="linechart-label_{{i}}" > Dataset : {{getAllNamesOfDataset(testDatasetN[linecharts[i].dataDisplay])}}</span>
            <div id="color-edit_{{i}}" style="display: none">
              <table>

                <tr *ngFor="let line of testDatasetN[linecharts[i].dataDisplay]; let n = index">
                  <th>
                    <span>Line {{ n+1 }} </span>
                  </th>
                  <th>
                    <input type="color" [(ngModel)]="line.color">
                  </th>

                </tr>

              </table>

            </div>
            <div id="peak-edit_{{i}}" style="display: none">
              <input type="range" min="0" max="50" [(ngModel)] = "linecharts[i].peakSize">
            </div>
          </th>

          <th>
              <number-linechart
              [config] = "{width:config.width, height:config.height,knobCurrentTime: showKnob(0), scrollBar: showScrollBar(2), range: config.range, currentTime: config.currentTime, peakSize: linecharts[0].peakSize}"
              [data]=testDatasetN[linecharts[i].dataDisplay]

            ></number-linechart>
          </th>
        </div>

        <div *ngSwitchCase="'boolean'">
          <th>
            <span id="linechart-label_{{i}}" > Dataset : {{getAllNamesOfDataset(testDatasetB[linecharts[i].dataDisplay])}}</span>
            <div id="color-edit_{{i}}" style="display: none">
              <table>

                <tr *ngFor="let line of testDatasetB[linecharts[i].dataDisplay]; let n = index">
                  <th>
                    <span>Line {{ n+1 }} </span>
                  </th>
                  <th>
                    <input type="color" [(ngModel)]="line.color">
                  </th>

                </tr>

              </table>

            </div>
            <div id="peak-edit_{{i}}" style="display: none">
              <input type="range" min="0" max="50" [(ngModel)] = "linecharts[i].peakSize">
            </div>
          </th>

          <th>
             <boolean-linechart
              [config] = "{width:config.width, height:config.height,knobCurrentTime: showKnob(0), scrollBar: showScrollBar(2), range: config.range, currentTime: config.currentTime, peakSize: linecharts[0].peakSize}"
              [data]=testDatasetB[linecharts[i].dataDisplay]
            ></boolean-linechart>
          </th>

        </div>


        <div *ngSwitchCase="'enumeration'">

          <th>
            <span id="linechart-label_{{i}}" > Dataset : {{getAllNamesOfDataset(testDatasetE[linecharts[i].dataDisplay])}}</span>
            <div id="color-edit_{{i}}" style="display: none">
              <table>
              <tr *ngFor="let enum of data.getEnums(data.str, testDatasetE[linecharts[i].dataDisplay][0].label);">
                <th>
                  <span> {{ enum }} </span>
                </th>
                <th>
                  <input type="color" [(ngModel)]="this.testDatasetE[linecharts[i].dataDisplay][0].colors[enum]">
                </th>
              </tr>

              </table>
            </div>
            <div id="peak-edit_{{i}}" style="display: none">
              <input type="range" min="0" max="50" [(ngModel)] = "linecharts[i].peakSize">
            </div>
          </th>

          <th>
              <enum-linechart
              [config] = "{width:config.width, height:config.height,knobCurrentTime: showKnob(0), scrollBar: showScrollBar(2), range: config.range, currentTime: config.currentTime, peakSize: linecharts[0].peakSize}"
              [data]=testDatasetE[linecharts[i].dataDisplay]

            ></enum-linechart>
          </th>

        </div>



      </div>

    </tr>


  </table>

  <!-- ######################################################################################################################################################### -->

  <div>
    <button (click)="addLinechart()">Add a Linechart</button><br><br>
    <span>Width </span><input [ngModel]="this.config.width" type="range" min="1" (ngModelChange)="widthUpdate($event)">
    <span>Height </span><input [(ngModel)]="this.config.height" type="range" (ngModelChange)="heightUpdate($event)">
  </div>
</body>
</html>






























